/* 
form{
    text-align: center;
}

.btn-form{
    padding: 5px;
    padding-bottom: 15px;
}

.formulario h1{
    text-align: center;
    padding: 10px;
    color: #c1a188;
}


.formulario h2{
    padding: 10px;
    color: #c1a188;
}

.formulario #colors{
    margin-top: 20px
}

.formulario #fecha{
    margin-top: 20px;
}

.datos-enviados{
    text-align: center;
    padding: 100px;
    border: 3px solid;
    margin-left: 35%;
    margin-right: 35%;

} */

.contact h2{
    text-align: center;
    padding: 20px;
    margin-top: 30px;
    font-size: 50px;
    color: #c1a188;
}

.contact form{
    max-width: 50rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 1rem;
}


.contact form .input-box input,
.contact form textarea{
    width: 70%;
    padding: 1.5rem;
    font-size: 1.6rem;

    border-radius: .8rem;
    margin: 1.1rem 0;
}

.contact form .input-box input {
    width: 70%;

}

.contact form textarea{
    resize: none;
}

.contact form .btn{
    margin-top: 2rem;
    cursor: pointer;
}


.btnContact{
    display: inline-block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10%;
    margin-right: 10px;
    padding: 10px;
    background-color: #d6c8bc;
    color: white;
    border: none;

}
.btnContact:hover{
    box-shadow: 0 0 20px #d6c8bc;
    cursor: pointer;
}