
main h1{
    text-align: center;
    color: #7b6552;
    padding: 40px;
    font-size: 40px;
}
.tazas{
    align-items: center;
    color: #7b6552;
}

.juegos{
    align-items: center;
    color: #7b6552;

}