
 .main-container {
    margin: 2%;
} 

.cards-container {
    display: grid;
    place-content: center;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.article-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    padding: 5px;

}

.article-img {
    border-radius: 4px 4px 0 0;
    width: 100%;
    margin: 0; 
    margin-bottom: -7px;
}

.article-card div {
    justify-content: space-between;
}

.add-cart {
    background-color: #7b6552;
    padding:10px;
    color: white;
    border-radius: 0 0 4px 4px;
    text-decoration: none;
    text-align: center;
    display: block;
} 
.add-cart:hover{
    box-shadow: 0 0 20px #7b6552;
    color: white;
 }


@media (max-width:800px) {
    
    .cards-container {
        grid-template-columns: repeat(auto-fill, 170px);
    }

    .article-card  {
        font-size: 1.2rem;
        margin-bottom: 10px;
    }

}