@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: "Afacad Flux", sans-serif;
}

header{
    background: #d6c8bc;
    height: 74px;

}


main h1{
    text-align: center;
    color: #c1a188;
    padding: 40px;
    font-size: 40px;
}


/*--------------------------NAV----------------------------*/
.logo{
    position: sticky;
    width: 100px;
    margin-left:20px;
    margin-top: 20px;
    border-radius: 70px;
    background-color: white;
}

nav{
    background: #d6c8bc;
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 10;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;

}
nav ul li a{
    color: #7b6552;
    font-size: 20px;
    padding: 7px 13px;
    border-radius: 3px;

}

nav ul li a:hover{
    color: white;
    transition: .5;
}
.checkbtn{
    font-size:30px ;
    color: white;
    float: right;
    line-height: 80px;
    margin-right:  40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;

}
.btnCart{
    padding:4px;
    color: #7b6552;
    position: sticky;
    border-radius: 50%;
    margin-bottom: 5px;
}


.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #d6c8bc;
    min-width: 150px;

    border-radius: 5px;
    top: 80px;
    right: -54px;
}

.dropdown-content li {
    display: block;
}

.dropdown-content li a {
    padding: 10px;
    color: #7b6552;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-content li a:hover {
    background-color: #7b6552;
    color: white;
}


.dropdown:hover .dropdown-content {
    display: block;
}

.count_cart {
    position: fixed;
    padding: 9px;
    top: 15px; 
    right: 5px;
    height: 2px;
    background-color: #7b6552;
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
} 
/*--------------------------BANNER----------------------------*/

.slide img {
    width: 100%;
    height: auto; 
    object-fit: cover; 
    object-position: center;
} 

.slides {
    height: 70vh;
    width: 100%;
    position: relative;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    inset: 0;
    animation: slide-show 12s infinite;
}

.slide-1 {
    animation-delay: 0s;
}
.slide-2 {
    animation-delay: 4s;
}
.slide-3 {
    animation-delay: 8s;
}


@keyframes slide-show {
    0% {
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    20%, 30% {
        opacity: 1;
        scale: 1.03;
    }
    50%{
        opacity: 0;
    }
}

/*--------------------------CARDS----------------------------*/

.productos-container {
    margin: 5%;
    width: 90%;
} 

.cards-container {
    display: grid;
    place-content: center;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.article-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    padding: 5px;

}

.article-img {
    border-radius: 4px 4px 0 0;
    width: 100%;
    margin: 0; 
    margin-bottom: -7px;
    height: 90%;
}

.article-card div {
    justify-content: space-between;
}

.add-cart {
    background-color: #d6c8bc;
    color: white;
    border-radius: 0 0 4px 4px;
    text-decoration: none;
    text-align: center;
    display: block; 
    width: 100%;
    padding: 10px; 
    box-sizing: border-box;
    border: none; 
    font-size: 20px;
}
.add-cart:hover{
    box-shadow: 0 0 20px #d6c8bc;
    color: white;
 }

 .article-card h3 {
    margin-top: 15px;
}

/*--------------------------RESEÑAS----------------------------*/
.reseñas {
    text-align: center;
}

.reseñas h2 {
    color: #c1a188;
}

.reseñas-container {
    padding: 0 20px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.reseñas-card {
    padding: 20px;
    transition: transform 0.3s ease;
    border-radius: 5%;
    background-color: #fff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    margin-bottom: 20px;
}

.reseñas-card:hover {
    transform: translateY(3px);
}


/*--------------------------FOOTER----------------------------*/

footer ul {
    background:  #d6c8bc;
    color: #7b6552;
    text-align: center;
    padding: 30px;

}
footer ul h3{
    font-size: 25px;
}
footer ul li {
    display: inline-block;
    margin-right: 10px;
}

footer ul li a i {
    font-size: 30px;
    color: #7b6552;
    padding-top: 20px;
    margin-bottom: 20px;
}

footer ul li a:hover i{
    color: white;
    transition: .5;
}

.icon-whatsapp{
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    background: #08e02c;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index: 100px;
}

.icon-whatsapp:hover{
    text-decoration: none;
    color: #0df053;
    background: #fff;
}

@media(max-width:800px){
       /*--------------------------NAV----------------------------*/
       .logo{
        z-index: 100;
        width: 70px;
        margin-top: 40px;
   }
    .checkbtn{
        display: block;
    }
    .mobile{
        position: absolute;
        width: 100%;
        height: auto;
        background: #d6c8bc;
        top: 80px;
        text-align: center;
        transition: all .5s;
        overflow: hidden;
        max-height: 0;
       
    }
   

    nav ul li{
        display: block;
        margin: 10% 0;
        line-height: 20px;       
    }

    .count_cart {
       position: absolute;
       padding: 9px;
       top: 80%; 
       right: 42%;
       height: 2px;
       background-color: #7b6552;
       border-radius: 50%;
       color: #fff;
       display: flex;
       align-items: center;
       justify-content: center;
   } 

    #check:checked ~ ul{
        left: 0;
    }  
  
    #check:checked ~ .mobile {
        max-height: 70vh; 
    }
    .checkbtn {
        cursor: pointer;
    
    }
    .mobile {
        display: block;
    }

   .dropdown-content {
       position: absolute;
       background-color: #fff; 
       box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
       border-radius: 8px;
       top: 20%;
       left: 79%;
       transform: translateX(-55%); 
       z-index: 100; 
   }
   .dropdown-content li a {
       color: #7b6552;
       padding: 2px;
   }

   .dropdown:hover .dropdown-content {
       display: block;
       margin-bottom: 15px;

   }
 

    /*--------------------------CARDS----------------------------*/
    .cards-container {
        grid-template-columns: repeat(auto-fill, 240px);
    }

    .article-card  {
        font-size: 1.2rem;
        margin-bottom: 10px;
    }
   
}
/*--------------------------BANNER----------------------------*/

@media (max-width: 1400px) {
    .slides {
        height: 60vh;
    }
}
@media (max-width: 1200px) {
    .slides {
        height: 50vh;
    }
}
@media (max-width: 950px) {
    .slides {
        height: 40vh;
    }
}
@media (max-width: 768px) {
    .slides {
        height: 30vh;
    }

}

@media (max-width: 570px) {
    .slides {
        height: 25vh;
        margin-left: 1%;
        margin-right: 1%;
    }
}

@media (max-width: 456px) {
    .slides {
        height: 20vh;
        margin-left: 1%;
        margin-right: 1%;
    }
}

@media (max-width: 380px) {
    .slides {
        height: 15vh;
    }
    .slide img {
        object-fit: contain; 
    }
}