@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;   
}
body{
    font-family: "Afacad Flux", sans-serif;
}


header{
    background: #d6c8bc; 
    height: 74px;

}



/*--------------------------NAV----------------------------*/
.logo{
    position: sticky;
    width: 100px;
    margin-left:20px;
    margin-top: 20px;
    border-radius: 70px;
    background-color: white;
}
nav{
    width: 100%;
    position: relative;
}
nav ul{
    float: right;
    margin-right: 20px;
    padding: 5px;  
}


 
nav ul li{
    display: inline-block; 
    padding-top: 20px;
   
}

nav ul li a{
    padding: 10px;
    color: #7b6552;
}

ul li{
    font-size: 20px;
}

nav ul li a:hover{
    color: white;
    transition: .5;
} 

.btnCart{
    padding:4px;
    color: #7b6552;
    position: sticky;
    border-radius: 50%;
}

@media (max-width: 768px) {
    nav {
        display: flex;
        justify-content: center;
        align-items: center;    
        padding: 10px 0;
    }

    .logo {
        margin-right: 20px; 
        padding: 0;        
    }

    nav ul {
        float: none;      
        margin-right: 0;   
        padding: 0;        
        display: flex;     
        justify-content: center;
        gap: 10px;         
    }

    nav ul li {
        display: inline-block; 
        padding-top: 0;       
    }

    nav ul li a {
        font-size: 18px;       
        padding: 10px;      
    }
}
/*--------------------------CARDS----------------------------*/

.row{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    justify-content: space-around;

    
}
.card{
    background-color: #d6c8bc;
    margin:10px 10px 10px 10px;
    border-radius: 6px;
    border: solid 10px #d6c8bc;
} 

.img-fluid{
    border-radius: 6px;
}
.spaces-card{
    padding-top: 50px;
    padding-bottom: 50px;
    grid-template-columns: repeat(5, 1fr); /* 5 columnas iguales */
    gap: 20px; /* Espacio entre las cards */
}

.content h3, p{
    color: rgba(16, 15, 15, 0.8);
    text-align: center;
}

.btn{
    background-color: #7b6552;
    padding:10px;
    color: white;
    border-radius: 6px;
    text-decoration: none;
    text-align: center;
    display: block;
}

.btn:hover{
   box-shadow: 0 0 20px #7b6552;
   color: white;
}
/*--------------------------INDEX----------------------------*/

.destacado h1{
    font-size: 40px;
}
/*--------------------------PRODUCTOS----------------------------*/
main h1{
    text-align: center;
    color: #7b6552;
    padding: 40px;
    font-size: 40px;
}
.tazas{
    align-items: center;
    color: #7b6552;
}
.tazas div h2{
    padding-left: 50%;
    background-color: #7b6552;
    color: white;
    align-items: center;
}
.juegos{
    align-items: center;
    color: #7b6552;
   
}
.juegos div h2{
   padding-left: 50%;
    background-color: #7b6552;
    color: white;
    align-items: center;
}



/*--------------------------NOVEDADES----------------------------*/
.novedades{
    text-align: center;
    color: #c1a188;
    padding-top: 40px;
}

/*--------------------------CONTACTOS----------------------------*/
form{
    text-align: center;
}

.btn-form{
    padding: 5px;
    padding-bottom: 15px;
}

.formulario h1{
    text-align: center;
    padding: 10px;
    color: #c1a188;
}


.formulario h2{
    padding: 10px;
    color: #c1a188;
}

.formulario #colors{
    margin-top: 20px
}

.formulario #fecha{
    margin-top: 20px;
}

.datos-enviados{
    text-align: center;
    padding: 100px;
    border: 3px solid;
    margin-left: 35%;
    margin-right: 35%;
    
}

.formulario .box{
    *margin-left: 20%;
    *margin-right: 20%;
}
/*--------------------------FOOTER----------------------------*/

footer ul {
    background:  #d6c8bc; 
    color: #7b6552;
    text-align: center;
    padding: 30px;

}

footer ul li {
    display: inline-block; 
    margin-right: 10px;   
}

footer ul li a i {
    font-size: 30px; 
    color: #7b6552;
    padding-top: 20px;   
}

footer ul li a:hover i{
    color: white;
    transition: .5;
} 


